@media only screen and (max-width: 800px) {
    .galleries-display {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }

    .gallery {
        display: flex;
        flex-direction:column;
        justify-content:space-around;
    }

    .selectBootcamp {
        max-width: 100px;
        padding: 0 1em;
        margin: 0 3em;
    }

    .gallery-name {
        padding: 0 1em;
        color: #ff6f3c;
    }
}

@media only screen and (min-width: 800px) {

    .galleries-display {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .selectBootcamp {
        max-width: 100px;
        padding: 0 1em;
        margin: 0 3em;
    }

    .gallery-name {
        padding: 0 1em;
        color: #ff6f3c;
    }

}