body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addDeveloperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.Gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.form-select-bootcamp {
  display: flex;
  flex-direction: column;
}

.addDeveloperBtn {
  padding: 2px 30px;
  border-radius: 5px;
}

.gallery {
  display: flex;
  align-content: space-between;
}

.bootcamp{
  border: 1px solid black;
  margin: 1em;
  padding: 3px 8px;
}

.card-list {
  list-style-type: none;
}

